<!DOCTYPE html>

<html>
<head>
<title>Login</title>
<link href="/resources/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/resources/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/resources/js/app.js"></script>
</head>
<body>
		<div class="col-md-6 col-md-offset-2">	

            <h3>web-inf</h3>
	</div>

	
</body>
</html>